/* stili generali di pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* debug nav bar */
.nav_bar {
    width: 100%;
    background-color: #ff6900;
    position: fixed;
    z-index: 100;
}
/* navbar container elements */
.container {
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

/* category link on nav bar */

.shop_link {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
/* decoration link text */
.shop_link a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    /* padding-left: 5px; */
}
#uomo:hover{
    text-decoration: underline;
}
#donna:hover {
    text-decoration: underline;
}
#bambino:hover {
    text-decoration: underline;
}

/* logo center nav bar */
.logo {
    height: 70px;
    width: 60%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(images/img/boolean-logo.png);
}


.icons {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    color: white;
    font-size: 30px;
    text-decoration: none;
}
.icons i{
    padding-right: 10%;
}
.fa-solid:hover {
    cursor: pointer;
}
.fa-regular:hover {
    cursor: pointer;
}
/* stacco main da nav bar */
main {
    padding: 100px 0;
}
/* regole generali riga */
.row {
    width: 80%;
    margin: auto;
    display: flex;
}

/* prima colonna */

.column {
    position: relative;
    margin: 10px;
    width: calc(100% / 3);
}
.column i{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}
.column i:hover{
    color: red;
    font-size: 40px;
}

/* primo prodotto */

.product {
    height: 920px;
    background-color: gray;
    background-position: center;
    background-image: url(images/img/1.webp); 
}
/* hover per cambio immagine */
.product:hover {
    background-position: center;
    background-image: url(images/img/1b.webp);
}
/* label on bottom lef on immage */
.lab_container {
    display: flex;
    position: relative;
    font-size: 20px;
    bottom: 100px;
    left: 0;
}
/* red sale on product */
.sale{
    background-color: red;
    color: white;
    padding: 5px;
}

/* sustainability indicator */
.sost{
    background-color: #008000;
    color: white;
    padding: 5px;
}
/* bottom info on product */


/* container to flex prices */
.price_flex {
    display: flex;
}


.bottom_info {
    font-size: 25px;
}
.artile_info{
    text-transform: uppercase;
    font-weight: 600;
}

.price {
    color: red;
}
.discount {
    text-decoration: line-through;
    padding-left: 20px;
}
/* END OF GENERAL RULES ON ALL PRODUCTS */

/* image changing */

/* product two */
.two{
    background-image: url(images/img/2.webp);
}
.two:hover {
    background-image: url(images/img/2b.webp);
}

/* product three */

.three {
    background-image: url(images/img/3.webp);
}

.three:hover {
    background-image: url(images/img/3b.webp);
}